body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLbxfiKcdY-Z5LTyqUrR15b1urZcGYQhEauQ&usqp=CAU');
}
 h1{
    color: rgb(69, 7, 240);
 }
 h2 {
    color: rgb(245, 18, 177);
 }